{% extends "base.html" %}

{% block content %}

<h2>Course Content 📚</h2>

{% for t in topics %}
<div class="card">
    <h3>{{ t.topic_name }}</h3>

    {% for l in t.lessons %}
        <div style="margin-bottom:20px;">
            <h4>{{ l.title }}</h4>

            <iframe width="100%" height="300"
            src="{{ l.video_url }}" allowfullscreen></iframe>

            <br><br>

            <a href="/complete/{{ l.lesson_id }}" class="button">Mark Complete</a>
        </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}