{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:400px; margin:auto;">

    <h2 style="text-align:center;">Login</h2>

    {% if error %}
        <p style="color:red; text-align:center;">{{ error }}</p>
    {% endif %}

    <form method="POST">

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <select name="role" required>
            <option value="">Select Role</option>
            <option value="2">Student</option>
            <option value="3">Teacher</option>
            <option value="1">Admin</option>
        </select>

        <button type="submit" class="btn" style="width:100%;">Login</button>
        <div style="text-align:center; margin-top:10px;">
    <a href="/forgot" style="color:var(--primary);">Forgot Password?</a>
</div>

    </form>

</div>

{% endblock %}