{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>Your Progress 📊</h2>

    <p>Lessons Completed: {{ completed }}</p>

    <!-- PROGRESS BAR -->
  <div style="background:#333; border-radius:10px; overflow:hidden; margin-top:20px;">
    
    <div class="progress-fill" data-width="{{ percentage }}">
        {{ percentage }}%
    </div>
   </div>


</div>

<script>
window.onload = function() {
    let bar = document.querySelector(".progress-fill");
    let width = bar.getAttribute("data-width");
    bar.style.width = width + "%";
};
</script>


  



{% endblock %}