{% extends "base.html" %}

{% block content %}

<div class="card">

<form method="POST">

{% for q in questions %}

<div style="margin-bottom: 25px;">

    <p><b>{{ loop.index }}. {{ q.question_text }}</b></p>

    <div class="option">
        <label>
            <input type="radio" name="q{{ q.question_id }}" value="{{ q.option1 }}">
            {{ q.option1 }}
        </label>
    </div>

    <div class="option">
        <label>
            <input type="radio" name="q{{ q.question_id }}" value="{{ q.option2 }}">
            {{ q.option2 }}
        </label>
    </div>

    <div class="option">
        <label>
            <input type="radio" name="q{{ q.question_id }}" value="{{ q.option3 }}">
            {{ q.option3 }}
        </label>
    </div>

</div>

{% endfor %}

<button type="submit">Submit Quiz</button>

</form>

</div>

{% endblock %}