{% extends "base.html" %}

{% block content %}

<div class="card">

<form method="POST" action="{{ url_for('quiz', quiz_id=quiz_id) }}">

{% for q in questions %}

<div style="margin-bottom: 25px;">
    <p><b>{{ q.question_text }}</b></p>

    {% for opt in q.options %}
        <div class="option">
            <label>
                <input type="radio"
                       name="q{{ q.question_id }}"
                       value="{{ opt.option_id }}"
                       required>
                {{ opt.option_text }}
            </label>
        </div>
    {% endfor %}
</div>

{% endfor %}

<button type="submit">Submit Quiz</button>

</form>

</div>

{% endblock %}